@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

p {
    margin-bottom: 0;
}

input,
textarea {
    &::placeholder {
        @include font(14px,
        #646464,
        400,
        21px);
    }
    &:focus {
        outline: none !important;
    }
}

button:focus {
    outline: none !important;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 48px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 100px;
}

.page-header {
    @include flexContainer(flex,
    center,
    column);
    align-items: center;
    height: 240px;
    padding: 76px 0;
    background-color: $blueColor;
    &__content {
        @include flexContainer(flex,
        center,
        column);
        h1 {
            @include font(32px,
            #fff,
            normal,
            48px);
            margin-bottom: 16px;
        }
    }
    &__links {
        a {
            position: relative;
            @include font(16px,
            #d2dbe5,
            normal,
            24px);
            padding-right: 15px;
            &:not(:last-of-type)::after {
                content: '>';
                position: absolute;
                right: 0;
                top: 0;
            }
            &:hover {
                color: #d2dbe5;
            }
        }
    }
}

.more-btn-box {
    @include flexContainer(flex,
    center,
    row);
    margin-top: 60px;
    .more-btn {
        @include transition15;
        background-color: $pinkColor;
        border: 1px solid $pinkColor;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $pinkColor;
        }
    }
}

// slider arrows
.owl-dots {
    display: none;
}

.recommended-books .books-slider .owl-theme .owl-nav .owl-prev,
.videos-slider .owl-theme .owl-nav .owl-prev,
.blog-details .similar-blogs .owl-theme .owl-nav .owl-prev {
    @include flexContainer(inline-flex,
    center,
    column);
    @include transition15;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $blueColor;
    background-color: #fff;
    margin-right: 20px;
    overflow: hidden;
    span {
        content: url('/assets/images/icons/blue-prev-arrow.png');
    }
    &:hover {
        background-color: $blueColor;
        span {
            content: url('/assets/images/icons/slider-white-prev-arrow.png');
        }
    }
}

.recommended-books .books-slider .owl-theme .owl-nav .owl-next,
.videos-slider .owl-theme .owl-nav .owl-next,
.blog-details .similar-blogs .owl-theme .owl-nav .owl-next {
    @include flexContainer(inline-flex,
    center,
    column);
    @include transition15;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $blueColor;
    background-color: #fff;
    overflow: hidden;
    span {
        content: url('/assets/images/icons/blue-next-arrow.png');
    }
    &:hover {
        background-color: $blueColor;
        span {
            content: url('/assets/images/icons/slider-white-next-arrow.png');
        }
    }
}

.go-to-top {
    @include flexContainer(inline-flex,
    center,
    row);
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 25px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $pinkColor;
    padding-bottom: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}