@media screen and (max-width:576px) {
    .footer-content {
        @include sectionPadding($vertical: 30px);
        @include flexContainer(flex, space-between, column);
        div:first-child {
            order: 2;
            margin-bottom: 15px;
        }
        .footer-logo {
            @include flexContainer(flex, center, row);
            order: 1;
            margin-bottom: 15px;
        }
        .designed-by {
            order: 3;
        }
    }
}