@media (max-width: 767px) {
    .main-section {
        background-image: url('/assets/images/bg-images/home-page-bg-mobile.png');
        padding: 30px 0 100px 0;
        &__content {
            h1 {
                @include font(18px,
                #00326c,
                700,
                27px);
            }
        }
        &__buttons {
            .button {
                margin-top: 16px;
                padding: 10px 35px;
            }
            .button-blue-bg {
                margin-right: 16px;
            }
        }
    }
    .recommended-books {
        padding: 30px 0 60px 0;
        .books-slider {
            padding: 30px 0 60px 0;
            &__title {
                width: 100%;
                padding-bottom: 132px;
            }
            .owl-theme {
                .owl-nav {
                    top: -75px;
                    right: 0px;
                }
                .owl-dots {
                    display: block;
                    position: absolute;
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
    }
    .author-quote .quote__content {
        .quote--text-container {
            .quote--text {
                padding: 20px 0 0 0;
            }
            .author-des-and-social-icons {
                display: none;
            }
        }
        .col-xl-4 {
            display: none;
        }
    }
    .author-quote .quote__content-mobile .quote--text-container-mobile {
        display: flex;
        .author-des-and-social-icons {
            padding: 40px 0 0 0;
        }
    }
    .blog-news.home-page-blogs {
        padding: 60px 0 110px 0;
        .section-title {
            padding: 0;
        }
        .more-btn-box {
            margin-top: 30px;
        }
        .videos-slider {
            padding: 90px 0 0 0;
            &__title {
                width: 100%;
                padding-bottom: 132px;
                &--text {
                    margin-bottom: 0px;
                }
            }
            .owl-carousel-videos {
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.16);
                .video__item {
                    margin: 0;
                }
                .owl-dots {
                    width: 100%;
                    display: block;
                    position: absolute;
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .header {
        .desktop-menu {
            display: none;
        }
    }
    .author-quote .quote__content .quote--text-container .author-des-and-social-icons {
        flex-direction: column;
        align-items: flex-start;
        .social-icons {
            padding-top: 30px;
        }
    }
}

@media (max-width: 1200px) {
    .main-section__img {
        margin-right: 0px;
    }
}

@media screen and (min-width: 993px) {
    .header {
        .mobile-menu {
            display: none;
        }
        .mobile-menu__container {
            display: none !important;
        }
    }
}