.error-page {
    @include fullBgImage;
    background-image: url('../../../assets/images/bg-images/404page-bg.png');
    padding-bottom: 234px;

    div {
        @include flexContainer(flex, center, column);
        padding-bottom: 150px;
        text-align: center;

        h1 {
            @include font(256px,
                $blueColor,
                400,
                384px);
        }

        h5 {
            @include font(40px,
                #000,
                400,
                48.41px);
            margin-bottom: 20px;
        }

        p {
            @include font(16px,
                #000,
                400,
                26px);
            width: 40%;
        }
    }
}

// media
@media screen and (max-width: 576px) {
    .error-page {
        div {
            h1 {
                @include font(96px,
                    $blueColor,
                    400,
                    264px);
            }

            h5 {
                @include font(32px,
                    #000,
                    400,
                    39px);
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .error-page {
        div {
            h1 {
                @include font(176px,
                    $blueColor,
                    400,
                    144px);
            }

            h5 {
                @include font(24px,
                    #000,
                    400,
                    30px);
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .error-page {
        padding-bottom: 0;

        div {
            @include fullBgImage;
            background-image: url('../../../assets/images/bg-images/404page-bg-mobile.png');

            padding: 50px 24px 200px 24px;

            p {
                width: 100%;
            }
        }
    }
}