.about-page {
    &__overview {
        @include fullBgImage;
        background-image: url('../../../assets/images/bg-images/about-bg.png');
        padding-top: 60px;
        &--content {
            .overview-title {
                @include font(42px,
                #00326c,
                700,
                63px);
                margin-bottom: 16px;
            }
            p {
                @include font(18px,
                #00326cb2,
                400,
                28px);
            }
        }
        &--image {
            width: 100%;
            height: 590px;
            img {
                max-width: 100%;
                height: 100%;
            }
        }
    }
    .certfications-licences {
        padding: 140px 0 200px 0;
        &__title {
            padding-bottom: 30px;
            span {
                @include flexContainer(inline-flex,
                flex-start,
                row);
                @include font(18px,
                #000,
                500,
                27px);
                img {
                    margin-right: 15px;
                }
            }
            &--text {
                @include font(15px,
                #3e3e3e,
                400,
                22.5px);
                padding-left: 35px;
            }
        }
        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 24px;
            .item {
                @include font(15px,
                #000,
                400,
                22.5px);
                @include flexContainer(inline-flex,
                center,
                column);
                align-items: center;
                text-align: center;
                padding: 30px;
                background-color: #fff;
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
            }
        }
    }
    .experiences-education {
        @include flexContainer(flex,
        space-between,
        row);
        align-items: flex-start;
        padding-bottom: 130px;
        h3 {
            @include font(28px,
            #000,
            500,
            42px);
            padding-bottom: 60px;
        }
        .experiences-items__container,
        .education-items__container {
            @include flexContainer(inline-flex,
            space-between,
            row);
            align-items: flex-start;
            width: 100%;
            >div {
                width: 100%;
                border-left: 1px solid #4d7fba;
                padding-left: 64px;
                margin-left: 30px;
            }
        }
        .experiences-items__container .experiences-item,
        .education-items__container .education-item {
            @include transition15;
            @include flexContainer(flex,
            start,
            column);
            align-items: flex-start;
            position: relative;
            width: 100%;
            min-height: 170px;
            background-color: #fff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
            span {
                margin-bottom: 5px;
            }
            &:not(:last-of-type) {
                margin-bottom: 40px;
            }
            &:hover {
                background-color: $blueColor;
                .workplace,
                .university {
                    color: #fff;
                }
                .job,
                .specialty,
                .date {
                    color: #ebebeb;
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: -5px;
                left: -76px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $blueColor;
            }
        }
    }
    .experiences-item .workplace,
    .education-item .university {
        @include font(16px,
        #000,
        500,
        24px);
    }
    .experiences-item .job,
    .education-item .specialty {
        @include font(15px,
        #818181,
        400,
        22.5px);
    }
    .experiences-item .date,
    .education-item .date {
        @include font(15px,
        $blueColor,
        400,
        22.5px);
    }
}

.about-me {
    padding-bottom: 192px;
    &__image {
        position: relative;
        width: 100%;
        height: 480px;
        .ovarlay {
            position: absolute;
            top: 72px;
            left: 0;
            width: 100%;
            height: 480px;
            background-color: $pinkColor;
        }
        img {
            position: absolute;
            bottom: 0px;
            left: 40px;
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        padding: 30px 0 0 50px;
        .title {
            @include font(36px,
            #000,
            400,
            54px);
            margin-bottom: 16px;
        }
        p {
            @include font(16px,
            #555555,
            400,
            26px);
        }
    }
}

@media (max-width: 576px) {
    .about-page .certfications-licences__items {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .about-page .about-me__image {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .about-page {
        &__overview {
            padding-top: 30px;
            &--content {
                .overview-title {
                    @include font(18px,
                    #00326c,
                    700,
                    27px);
                }
                p {
                    @include font(15px,
                    #00326cb2,
                    400,
                    25px);
                }
            }
            &--image {
                display: flex;
                justify-content: flex-end;
                height: 254px;
            }
        }
        .certfications-licences {
            padding: 60px 0;
            &__title {
                padding-bottom: 24px;
            }
        }
        .experiences-education {
            padding-bottom: 60px;
            h3 {
                @include font(16px,
                #000,
                500,
                24px);
                padding-bottom: 30px;
            }
            .experiences-items__container>div,
            .education-items__container>div {
                padding-left: 24px;
                margin-left: 12px;
            }
            .experiences-items__container .experiences-item,
            .education-items__container .education-item {
                &::before {
                    left: -36px;
                }
            }
        }
        .about-me {
            padding-bottom: 120px;
            &__content {
                padding: 30px 0 0 0;
                .title {
                    @include font(24px,
                    #000,
                    400,
                    36px);
                }
            }
            &__image {
                height: 340px;
                max-width: 100%;
                .ovarlay {
                    top: 26px;
                    height: 310px;
                    width: 94%;
                }
                img {
                    top: 0px;
                    left: 6%;
                    height: 310px;
                    width: 94%;
                }
            }
        }
    }
}