.certficates-page {
    padding: 90px 8% 120px 8%;
    .certficate-items__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        .certficate__item {
            border-radius: 12px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
            overflow: hidden;
            &--image-box {
                position: relative;
                background-color: #d5d5d5;
                padding: 56px 70px;
                .certficate-image {
                    background-color: #fff;
                    border-radius: 12px;
                    height: 174px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        margin: 0 auto;
                    }
                }
                .view-box {
                    @include flexContainer(none, center, row);
                    @include transition15;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                    div {
                        @include flexContainer(flex, center, row);
                        align-items: center;
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        background-color: #fff;
                        cursor: pointer;
                    }
                }
                &:hover {
                    .view-box {
                        display: flex;
                    }
                }
            }
            &--title {
                @include font(16px, #000, 500, 23px);
                position: relative;
                text-align: center;
                padding: 20px 130px;
                .fancy-box {
                    position: absolute;
                    display: none;
                    right: 10px;
                    top: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .certficates-page {
        .certficate-items__container {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .certficates-page {
        .certficate-items__container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 992px) {
    .certficates-page {
        padding: 60px 16px 120px 16px;
        .certficate-items__container {
            .certficate__item {
                &--image-box {
                    padding: 28px 35px;
                    .certficate-image {
                        height: 151px;
                    }
                    .view-box {
                        display: none;
                    }
                }
                &--title {
                    padding: 20px 30px;
                    .fancy-box {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1650px) {
    .certficates-page .certficate-items__container .certficate__item--title {
        padding: 20px 30px;
    }
}