.main-section {
    @include fullBgImage;
    @include flexContainer(flex, center, row);
    padding: 130px 0;
    background-image: url('../../../assets/images/bg-images/home-page-bg.svg');
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h1 {
            @include font(42px,
            $blueColor,
            700,
            63px);
        }
        p {
            @include font(16px,
            rgba(0, 50, 108, 0.7),
            400,
            24px);
            padding-top: 15px;
        }
    }
    &__buttons {
        .button {
            margin-top: 30px;
        }
        .button-blue-bg {
            border: 1px solid $blueColor;
            background-color: $blueColor;
            color: #fff;
            margin-right: 30px;
            &:hover {
                @include transition15;
                background-color: transparent;
                color: $blueColor;
                text-decoration: none;
            }
        }
        .button-blue-border {
            border: 1px solid $blueColor;
            color: $blueColor;
            background-color: transparent;
            &:hover {
                @include transition15;
                color: #fff;
                background-color: $blueColor;
                text-decoration: none;
            }
        }
    }
    &__img {
        margin-right: 100px;
        img {
            width: 100%;
            height: 476px;
        }
    }
}

// recommended books section
.recommended-books {
    padding: 60px 0 120px 0;
    position: relative;
    .section-bg-image {
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: -1;
        img {
            width: 500px;
            height: 500px;
        }
    }
    .books-slider {
        &__title {
            width: 50%;
            padding-bottom: 40px;
            span {
                @include flexContainer(inline-flex,
                flex-start,
                row);
                @include font(18px,
                #000,
                500,
                27px);
                img {
                    margin-right: 15px;
                }
            }
            &--text {
                @include font(15px,
                #3e3e3e,
                400,
                22.5px);
                padding-left: 35px;
            }
        }
        .owl-carousel.owl-carousel-books {
            box-shadow: -10px 4px 30px rgba(0, 0, 0, 0.16);
        }
        .owl-theme .owl-nav {
            position: absolute;
            bottom: 20px;
            right: 100px;
            margin-top: 0;
        }
    }
}

// author quote section
.author-quote {
    padding: 60px 0 0 0;
    background-color: $blueColor;
    color: #fff;
    .quote__content {
        position: relative;
        .quote--text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            .quote--text {
                @include font(18px,
                #fff,
                400,
                32px);
                background-image: url('/assets/images/icons/quote-icon.png');
                background-repeat: no-repeat;
                padding: 25px 0 0 45px;
            }
        }
        .author-image {
            img {
                width: 100%;
                height: 550px;
            }
        }
    }
    .quote__content .quote--text-container .author-des-and-social-icons,
    .quote__content-mobile .quote--text-container-mobile .author-des-and-social-icons {
        @include flexContainer(flex,
        space-between,
        row);
        padding: 40px 0 0 45px;
        .author-des {
            @include flexContainer(flex,
            flex-start,
            column);
            align-items: flex-start;
            .author-name {
                @include font(18px,
                #fff,
                bold,
                28px);
            }
            .author-job {
                @include font(16px,
                #c2c2e2,
                400,
                26px);
            }
        }
        .social-icons {
            i {
                @include flexContainer(inline-flex,
                center,
                column);
                @include transition15;
                width: 39px;
                height: 39px;
                border-radius: 50%;
                border: 1.5px solid #c2c2e2;
                margin-right: 15px;
                color: #fff;
                &:hover {
                    background-color: #fff;
                    border: 1px solid #fff;
                    color: $blueColor;
                }
            }
        }
    }
    .quote__content-mobile .quote--text-container-mobile {
        display: none;
        .author-des-and-social-icons {
            flex-direction: column;
            align-self: flex-start;
            justify-content: flex-start;
            .social-icons {
                width: 100%;
                i {
                    margin: 30px 0;
                }
            }
        }
        .author-image {
            img {
                height: 250px;
            }
        }
    }
}

// video-slider section
.videos-slider {
    position: relative;
    padding: 140px 0 50px 0;
    &__title {
        width: 40%;
        padding-bottom: 10px;
        span {
            @include flexContainer(inline-flex,
            flex-start,
            row);
            @include font(18px,
            #000,
            500,
            27px);
            img {
                margin-right: 15px;
            }
        }
        &--text {
            @include font(15px,
            #3e3e3e,
            400,
            22.5px);
            padding-left: 35px;
        }
    }
    .video__item {
        margin: 30px 0;
    }
    .owl-theme .owl-nav {
        position: absolute;
        top: -75px;
        right: -5px;
        margin-top: 0;
    }
}