// interviews page
.interviews-page {
    padding: 90px 8% 120px 8%;
    .interview-items__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
}

// media
@media screen and (max-width: 576px) {
    .interviews-page {
        .interview-items__container {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 992px) {
    .interviews-page {
        padding: 60px 16px 120px 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1420px) {
    .interviews-page {
        padding: 60px 48px 120px 48px;
    }
}