.projects-page {
    padding: 90px 0 120px 0;
}

// media
@media screen and (max-width:992px) {
    .projects-page {
        padding: 60px 0 120px 0;

        .project-items__container {
            .project__item--description {
                display: flex;
            }
        }
    }
}