.search-result {
    padding: 60px 0 120px 0;
    &__container {
        &--title {
            @include font(24px, #000, 400, 36px);
            margin-bottom: 35px;
        }
        .search-box {
            margin-bottom: 30px;
            form {
                display: flex;
                align-items: center;
                input {
                    width: 496px;
                    height: 56px;
                    border-radius: 28px;
                    background-color: #fff8f8;
                    border: 1px solid #ffbec2;
                    text-indent: 16px;
                    margin-right: 16px;
                }
                .search-icon {
                    @include flexContainer(inline-flex, center, row);
                    align-items: center;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    background-color: $pinkColor;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        .search-keyword--box {
            @include font(18px, #000, 500, 27px);
            padding-bottom: 60px;
            .search-keyword {
                color: $pinkColor;
            }
        }
    }
    .finded-results {
        &__container {
            >div {
                padding-bottom: 60px;
            }
            .finded--blogs {
                display: grid;
                grid-template-columns: 1fr;
                .card--item {
                    @include flexContainer(flex, space-between, row);
                    .card--header {
                        height: 230px;
                        .card--image {
                            img {
                                width: 288px;
                                height: 230px;
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }
                    }
                    .card--body {
                        @include flexContainer(flex, space-between, row);
                        align-items: center;
                        padding: 30px 24px;
                        div:first-child {
                            padding-right: 130px;
                        }
                    }
                }
            }
            .finded--videos {
                .video__item {
                    border: 1px solid #d7d9da;
                    border-radius: 12px;
                    overflow: hidden;
                    .video--card {
                        @include flexContainer(flex, start, row);
                        align-items: center;
                        min-height: 230px;
                        .fancy-box {
                            height: 230px;
                            >div {
                                position: relative;
                                height: 100%;
                                span {
                                    @include flexContainer(flex, center, row);
                                    align-items: center;
                                    border: 1px solid #fff;
                                    font-size: 25px;
                                    color: #fff;
                                    background-color: transparent;
                                }
                            }
                            img {
                                width: 288px;
                                height: 230px;
                                border-radius: 12px 0 0 12px;
                            }
                        }
                        &-body {
                            @include flexContainer(flex, space-between, row);
                            align-items: center;
                            width: 100%;
                            padding: 0 30px 0 24px;
                            .go-to-btn {
                                @include flexContainer(inline-flex, center, row);
                                @include fullBgImage;
                                @include transition15;
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                background-color: transparent;
                                border: 1px solid #d7d9da;
                                img {
                                    content: url('../../assets/images/icons/gray-arrow-right.png');
                                }
                                &:hover {
                                    background-color: $pinkColor;
                                    color: #fff;
                                    border: 1px solid $pinkColor;
                                    img {
                                        content: url('../../assets/images/icons/white-arrow-right.png');
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__pagination {
        text-align: center;
        a {
            @include font(16px,
            #353535,
            400,
            19.2px);
            i {
                font-size: 25px;
                font-weight: 500;
            }
            &:not(:last-of-type) {
                @include flexContainer(inline-flex,
                center,
                row);
                @include transition15;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 0.5px solid #b3b3b3;
                background-color: #fff;
                margin-right: 16px;
                &:hover {
                    background-color: $pinkColor;
                    border: 0.5px solid $pinkColor;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .search-result {
        padding: 30px 0 120px 0;
        &__container {
            &--title {
                @include font(18px,
                #000,
                400,
                27px);
                margin-bottom: 30px;
            }
            .search-box {
                form {
                    input {
                        margin-right: 0px;
                    }
                    .search-icon {
                        transform: translateX(-45px);
                        padding: 0 15px;
                    }
                }
            }
            .search-keyword--box {
                @include font(16px,
                #000,
                500,
                24px);
            }
        }
    }
    .search-result .finded-results__container>div {
        padding-bottom: 30px;
    }
    .search-result .finded-results__container .finded--blogs {
        grid-template-columns: 1fr !important;
    }
    .search-result .finded-results__container .finded--videos .video__item {
        border-radius: 0px;
        border: none;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.16);
        .video--card {
            flex-direction: column;
            &-body {
                padding: 18px 26px;
                .go-to-btn {
                    display: none;
                }
            }
            .fancy-box {
                display: flex;
                width: 100%;
                >div {
                    width: 100%;
                    .play-icon {
                        span {
                            width: 49px;
                            height: 49px;
                            background-color: #fff;
                            font-size: 22px;
                            color: $blueColor;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }
    .search-result__pagination a:not(:last-of-type) {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .search-result .finded-results__container .finded--blogs {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        .card--item {
            flex-direction: column;
            .card--body {
                padding: 26px 16px;
                flex-direction: column;
                >div:first-child {
                    padding-right: 0;
                }
            }
            .card--header {
                width: 100%;
                .card--image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}